.header{
   text-align: center;
   margin-top: 60px;    
   margin-bottom: 80px;

}

.all{
    background-color: #D6CBEB;   

}



.coin-img{
    display: inline-block;
}

.get-coin{
    display: inline-block;
    
}

.main{
    
}

.point-explain{
    display: inline-block;
}

.student{
    display: inline-block;
    margin-right: 180px;
}