.study-bar{
    text-align: center;
    position: sticky;
    top: 0px;
    background-color: #ff6f5e;
}

button{ 
    background-color: #b1e8ed; /* Green */
    border: none;
    color: black;
    padding: 11px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    border-radius: 8px;

}
button:hover{
    background-color: #f5f0e3; 
    padding: 11px 27px;
    border-radius: 8px;
    color: black;
    

}
.alarm{
   text-align: center;
   margin-top: 60px;    
   margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;
}

.all{
    background-color: #f5f0e3;   
    margin: 0;
    
}



.coin-img{
    display: inline-block;
    margin-right: 110px;

}

.get-coin{
    display: inline-block;
    
}

.main{
    
}

.point-explain{
    display: inline-block;
}

.student{
    display: inline-block;
    margin-right: 180px;
}