.content{
    font-size: 210%;
    text-align: center;
    padding: 20px;
    
}
.advice{
    text-align: center;
    font-size: 235%;
    padding-bottom: 30px;
}
button{
    all: unset;
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    margin: 5%;
    background-color: tomato;
    border-radius: 6px;
    padding: 40px;
}
.section{
    text-align: center;
}
h1{
    margin-top: 80px;
    margin-bottom: 130px;
}