.title{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 28px 8px;
    border-radius:15px 15px 0px 15px;
    display: inline-block;
    padding: 10px;
    background-color: #f5f0e3;
    text-align: center;
    font-size: 13px;
    width: 37%;
}

button{
    all: unset;
    font-size: 10px;
    font-weight: bold; 
    text-align: center;
    margin: 1px;
    background-color: tomato;
    border-radius: 4px;
    padding: 5px;
    color: rgb(245, 241, 13);
}
.section{
    
    
}
h3{
    margin-top: ;
    margin-bottom: ;
}